.modal-content {
  box-shadow: 0 0 30px $color-grey-dark-4;
  border-radius: 25px;
}

.page15 {
  .content {
    .container-fluid {
      height: 500px;
    }
    &__container {
      // max-width: pxToRem(1750);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-image: url("../../img/images/page2/page2_content_bg.jpg");
      @media screen and (max-width: 768px) {
        background-image: url("../../img/images/person.jpg");
        background-position-x: left;
        background-size: 340px auto;
        background-position: center;
      }
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      .auth_form {
        position: absolute;
        left: 8%;
        top: 140px;
        width: 40%;
        @media screen and (max-width: 768px) {
          position: initial;
          width: 80%;
          margin: auto;
          text-align: center;
        }
      }
    }
  }

  .collection {
    &__header {
      @include font("Poppins", 600, $font-size-header);
      text-align: center;
    }
    &__content {
      @include font("Poppins", 400, $font-size-content);
      text-align: center;
    }
    &__body {
      margin: 70px 0;
    }
    &__card {
      position: relative;
      border-radius: 15px;
      box-shadow: 1px 3px 4px $color-grey-dark-1;
      padding: 15px 20px;
      margin-top: 40px;
    }
    &__card-img {
      width: 50px;
      position: absolute;
      top: -25px;
      left: 0%;
    }
    &__card-title {
      width: 50%;
      padding-top: 30px;
      @include font("Poppins", 600, $font-size-subtitle);
    }
    &__card-content {
      padding-top: 10px;
      @include font("Poppins", 400, $font-size-content);
    }
    &__card-img-com {
      position: absolute;
      width: 90%;
      height: auto;
      left: 50%;
      bottom: 20px;
      @media screen and (min-width: 1200px) {
        bottom: 20px;
        width: 85%;
        left: 55%;
      }
      @media screen and (max-width: 992px) {
        left: inherit;
        top: inherit;
        bottom: 10px;
        right: 10px;
        width: 40%;
      }
      @media screen and (max-width: 768px) {
        position: initial;
        width: 50%;
        margin: 10px auto;
        display: block;
      }
    }
    &__card-img-com-half {
      position: absolute;
      width: 45%;
      height: auto;
      left: 50%;
      bottom: 20px;
      @media screen and (min-width: 1200px) {
        bottom: 20px;
        width: 35%;
        left: 60%;
      }
      @media screen and (max-width: 992px) {
        left: inherit;
        top: inherit;
        bottom: 20px;
        right: 30px;
        height: 80%;
        width: auto;
      }
      @media screen and (max-width: 768px) {
        position: initial;
        width: 50%;
        margin: 10px auto;
        display: block;
      }
    }
    &__card-half {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &__card-over {
      width: 100% !important;
    }
    &__card-small {
      width: 60%;
      align-self: flex-end;
      float: right;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }

  .recomm {
    &__left {
      background-image: url("../../img/images/page2/page2_recomm_bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__header {
      @include font("Poppins", 600, $font-size-title);
    }
    &__title {
      padding-bottom: 10px;
      @include font("Poppins", 400, $font-size-title);
    }
    &__title::after {
      content: "";
      display: table;
      width: 100%;
      height: 10px;
      border-bottom: 2px solid $color-grey-dark-1;
    }
    &__content {
      @include font("Poppins", 400, $font-size-content);
    }
    .auth_form {
      position: initial;
      display: block;
      margin: 20px auto;
      width: 80%;
    }
    &__right {
      border-radius: 20px;
      @media screen and (max-width: 992px) {
        margin-top: 50px;
      }
    }
    &__img {
      width: 100%;
    }
  }

  .line_wrap {
    .right_to_center {
      .first_line {
        height: pxToRem(50);
        top: pxToRem(0);
      }
    }
  }
}
