/// Relative or absolute URL to the project root
$base-url: "/";

$color-primary: #f15825;
$color-primary-light: #f87549;
$color-primary-dark: #cf4f24;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #dadada;
$color-grey-light-4: #cfcfcf;

$color-grey-dark-1: #999999;
$color-grey-dark-2: #777777;
$color-grey-dark-3: #555555;
$color-grey-dark-4: #000000;

$color-text-black: $color-grey-dark-1;
$color-text-white: $color-grey-light-2;
$body-bg: #fbfbfb;
$body-bg-dark: #f1f1f1;

$color-white: #fff;
$color-black: #000;

$font-size-header: 36;
$font-size-title: 28;
$font-size-subtitle: 18;
$font-size-content: 16;
$font-size-helper: 14;
